body {
  margin: 0;
  padding: 0;
  background-color: #1e0036;
  color: rgb(206, 206, 206);
  display: grid;
  row-gap: 150px;
}
.subheading {
  width: fit-content;
  margin-inline: auto;
}
img {
  max-width: 100%;
}
button {
  display: block;
  background-color: #d8d8d83a;
  color: rgb(206, 206, 206);
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  width: fit-content;
}
p,
ul,
h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  padding-left: 0px;
}
li {
  list-style-type: none;
}
a {
  color: white;
}

#hero {
  /* border: 10px solid #00ca22; */
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) 5fr minmax(0px, 1fr);
  align-items: center;
}
#hero-left {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#hero-left button {
  margin-inline: auto;
}
#hero-right {
  display: none;
}

#portfolio {
  height: max-content;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) 5fr minmax(0px, 1fr);
  row-gap: 50px;
}
#portfolio h2 {
  grid-column: 2;
}
.portfolio-box {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
}
.portfolio-box img {
  grid-row: 1;
  border-radius: 15px 15px 0px 0px;
}
.portfolio-box p {
  grid-row: 2;
  background-color: rgba(255, 255, 255, 0.192);
  height: fit-content;
  padding: 15px;
  border-radius: 0px 0px 15px 15px;
}

#about {
  height: max-content;
  display: grid;
  gap: 50px;
  grid-template-columns: minmax(0px, 1fr) 5fr minmax(0px, 1fr);
}
#about h2 {
  grid-column: 2;
}
#bio {
  grid-column: 2;
}
#bio img {
  display: none;
}
#bio div {
  text-align: center;
}
#skills {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.skills-list {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.skills-list li {
  border: 1px solid white;
  padding: 15px;
}
.left-arrow,
.right-arrow {
  display: none;
}
.middle-line {
  display: none;
}
#skills p {
  display: none;
}

.contact-links {
  display: flex;
  gap: 15px;
  width: fit-content;
  margin-inline: auto;
}

@media (min-width: 768px) {
  /* medium */
}
@media (min-width: 1024px) {
  /* large */
  #hero {
    text-align: start;
    display: grid;
    grid-template-columns: minmax(50px, 1fr) 3fr 2fr minmax(50px, 1fr);
    justify-items: center;
  }
  #hero-left button {
    margin-inline: initial;
  }
  #hero-right {
    grid-column: 3;
    display: block;
    max-width: 70%;
  }

  .portfolio-box {
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
  }
  .portfolio-box img {
    grid-column: 1;
    border-radius: 0px 0px 0px 0px;
  }
  .portfolio-box p {
    grid-row: 1;
    grid-column: 3;
    border-radius: 15px 15px 15px 15px;
  }

  #bio {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
    align-items: center;
    justify-items: center;
  }
  #bio img {
    grid-column: 2;
    display: block;
  }
  #bio div {
    grid-column: 4;
  }
  #skills {
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  }
  .left-arrow {
    grid-column: 1;
    border: solid red;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 35px;
    transform: rotate(135deg);
  }
  .right-arrow {
    grid-column: 5;
    border: solid red;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 35px;
    transform: rotate(-45deg);
  }
  .middle-line {
    display: block;
    grid-column: 3;
    background-color: red;
    padding: 70px 4px 70px 4px;
  }
  #skills p {
    display: block;
    grid-column: 4;
  }
}
